body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: absolute;
  width: 100%; 
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.low-opacity-background {
  background-color: #FCFBF4;
  z-index: -1;
  background-size: cover;
  background-position: center;
  place-content: center;
  text-align: center;
}

.low-opacity-background::after {
  content: '';
  transform: rotate(45deg);
  position: fixed;
  z-index: -1;
  inset: 0;
  background: url('https://static.vecteezy.com/system/resources/previews/011/887/512/large_2x/halftone-dotted-background-free-png.png');
  opacity: 0.5;
  padding-left: 50px;
  margin-left: -55px;
  padding-top: 100px;
  margin-top: -10px;
  background-color: #FCFBF4;
  height: 600px;
}

.stable-cursor::after {
  content: "|";
}

.blinking-cursor::after {
  content: "|";
  animation: blink 1s step-start infinite;
}

.hopping-right-arrow {
  content: "";
  animation: right-hopping 1s linear infinite;
}

.hopping-left-arrow {
  content: "";
  animation: left-hopping 1s linear infinite;
}

.stay-arrow {
  content: "";
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes right-hopping {
  0%, 100% {
    bottom: 350px;
    background-color:rgb(255, 255, 255)
  }
  50% {
    bottom: 345px;
    background-color:rgb(147, 147, 147)
  }
}

@keyframes left-hopping {
  0%, 100% {
    bottom: 350px;
    background-color:rgb(255, 255, 255)
  }
  50% {
    bottom: 355px;
    background-color:rgb(147, 147, 147)
  }
}